@import "./bootstrap.min.css"
@import "./sass/layout.sass"
@import "./sass/header.sass"
@import "./sass/nav.sass"
@import "./sass/latest-blog.sass"
@import "./sass/subscribe.sass"
@import "./sass/blog-list.sass"
@import "./sass/blog-summary.sass"
@import "./sass/blog.sass"
@import "./sass/footer.sass"

@font-face
  font-family: playfair-black
  src: url(PlayfairDisplay-Bold.ttf)

@font-face
  font-family: playfair-bold
  src: url(PlayfairDisplay-Bold.ttf)

@font-face
  font-family: playfair-regular
  src: url(PlayfairDisplay-Regular.ttf)

body
  background-color: whitesmoke
