.blog-list
    width: 100%
    margin: 0 auto
    position: relative
    display: grid
    // justify-content: center
    // align-items: center
    grid-template-columns: repeat(auto-fit, 100%)
    grid-template-rows: auto
    column-gap: 4px

.load-more
    height: 60px
    width: 96%
    margin: 12px 18px 12px 18px
    background-color: black
    color: white
    font-size: 1.5em
    font-family: playfair-black
    font-weight: bold
    text-transform: uppercase
    border: none

.no-more-posts
    font-family: playfair-black
    text-align: center
    color: black
    margin: 18px
